body{

    background-color: mediumslateblue;
    color:ivory

}

nav{

    height: 6000px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;

}

footer{

    text-align: center;
    margin-right: 200px;

}

#memeimage{

    margin-right: 200px;

}

header{

    text-align: center;
    
}