/* this is the body selector - these styles will affect the whole page
    setting the background-color property to the value of a grey-ish
    setting the text color (foreground) property to darkslateblue */
body{
    background-color: rgb(187, 185, 185);
    color: darkslateblue;
}

/*
    this is the nav selector anything in between the <nav> and </nav> tags will
    be affected ny these styles
*/
nav{
    height: 600px;
    width: 200px;
    float: left;
    padding: 5px;
    line-height: 30px;
}

/*
    this is the footer selector - generally the footer will be at the bottom of the page
*/
footer{
    text-align: center;
    margin-right: 200px;
}

/* the img with an id of memeImage will be affected by this style */
#memeImage{
    margin-right: 200px;

}

/* anything in between the header tags will be affected by this style */
header{
    text-align: center;
}